**Exercise 1: Create a Jupyter Notebook**

**Exercise 2: Create markdown cell with title of the notebook**

# Data Science Tools and Ecosystem

**Exercise 3 - Create a markdown cell for an introduction**

## Introduction

`In this notebook, Data Science Tools and Ecosystem are summarized.`

**Objectives:** 
- List popular languages for Data Science
- List open source development environments
- Some of the commonly used libraries used by Data Scientists
- Evaluating arithmetic expressions in Python

**Exercise 4 - Create a markdown cell to list data science languages**

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. Scala
4. Java
5. JavaScript

**Exercise 5 - Create a markdown cell to list data science libraries**

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. Matplotlib
3. scikit-learn

**Exercise 6 - Create a markdown cell with a table of Data Science tools**

|Data Science Tools|
|------------------|
|Jupyter (Lab and Notebook)|
|Rstudio|
|Apache Zeppelin|
|Spider|

**Exercise 7 - Create a markdown cell introducing arithmetic expression examples**

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
2+3

5

In [2]:
8-10

-2

In [3]:
98765*345678

34140887670

In [4]:
88474/83

1065.9518072289156

In [5]:
4<3

False

**Exercise 8 - Create a code cell to multiply and add numbers**

In [6]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

**Exercise 9 - Create a code cell to convert minutes to hours**

In [7]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

**Exercise 10 - Insert a markdown cell to list Objectives**

##### Introduction Section

**Exercise 11 - Create a markdown cell to indicate the Author's name**

## Author
Kam